<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Hello, world!</title>
</head>

<body>

    <div class="container">

        <br>

        <h3>Listado de servicios</h3><br>
        <div class="row">
            <div class="col">
                <h4>Nuestra tienda online ofrece una variedad de servicios, entre ellos:</h4><br>
                <li>Todas las opciones de metodos de pago para que pueda pagar de la manera que mas le convenga.</li><br>
                <li>Envios a todo chile y las ventas desde $ 19.990 tienen envíos gratis y te pagamos hasta el 50% del costo de esos envíos.</li><br>
                <li>Prestamos un excelente servicio al cliente para resolver cualquiera de sus dudas.</li><br>
                <li>Puede dejar su opinion sobre cualquiera de nuestros productos.</li><br>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

</body>

</html>